<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>350786540085-gt40cd65dskfhtnbsnda8m2itt3plg4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350786540085-gt40cd65dskfhtnbsnda8m2itt3plg4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDwXBEpBvK2fSYctt5T7DCjx02rAhFj8wA</string>
	<key>GCM_SENDER_ID</key>
	<string>350786540085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SergioGamez.StudyMeet</string>
	<key>PROJECT_ID</key>
	<string>studymeet-fc082</string>
	<key>STORAGE_BUCKET</key>
	<string>studymeet-fc082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350786540085:ios:ce78e6ff62f66047</string>
	<key>DATABASE_URL</key>
	<string>https://studymeet-fc082.firebaseio.com</string>
</dict>
</plist>